/* datos personales Sergio Fernandez-Miranda Longo UO302282*/
/* Layout del proyecto MotoGP-Desktop*/

/* Especificidad: 0-0-1 */
header {
  display: flex;
}

/* Especificidad: 0-0-2  (header + h1) */
header h1 {
  margin-left: 1em;
  margin-right: auto;
}

/* Especificidad: 0-0-2  (header + nav) */
header nav {
  display: flex;
  align-items: center;
  margin-right: 1em;
  gap: 0em;
}

/* Especificidad: 0-0-3  (header + nav + a) */
header nav a{
  flex: 0 0 auto;
  padding: 0.4em 0.6em;
}

/* Especificidad: 0-0-5 - Selector de tipo para el contenedor del mapa dinámico */
body > main > section[data-tipo="contenido-mapa"] > div {
    width: 100%;
    height: 31.25em; /* 500px en unidades relativas */
    border: 0.125em solid #333;
    border-radius: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* ====== Media query MÓVIL: 320px–799px ====== */
@media (min-width: 320px) and (max-width: 799px) {


  /* Especificidad: 0-0-1 */
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  /* Especificidad: 0-0-2 (header > nav) */
  header > nav {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 0.5rem;
  }

  /* Especificidad: 0-0-3 (header > nav > a) */
  header > nav > a {
    align-self: stretch;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  /* Especificidad: 0-0-1 + 0-0-1 = 0-0-2 (header + nav) */
  header + nav {
    display: none;
  }

  /* Especificidad: 0-0-1 */
  video {
    width: 100%;
    height: auto;
    max-inline-size: 100%;
  }

  /* Especificidad: 0-0-1 */
  audio {
    width: 100%;
    max-inline-size: 100%;
  }
  /* Especificidad: 0-0-2 (article h2 + img) */
  article h2 + img {
      width: 100%;        /* Ocupa todo el ancho del dispositivo */
      height: auto;       /* Mantiene la proporción original */
      display: block;     /* Evita espacios fantasmas debajo de la imagen */
      object-fit: contain;/* Garantiza que no se recorte en pantallas estrechas */
      max-inline-size: 100%;
  }

  /* Especificidad: 0-0-5 - Se redefinen propiedades width y height para adaptabilidad en móvil */
  body > main > section[data-tipo="contenido-mapa"] > div {
      width: 100%;
      height: 25em; /* Altura ajustada para dispositivos móviles */
      margin-left: 0;
      margin-right: 0;
  }
}